<div class="col-md-6 offset-3">
<div class="slider">

  <div id="slide-0" class="selected">
    <table class="cardSlots slot-pair">
      <tr><td class='slot0'>1</td><td class='slot1'>2</td></tr>
    </table>
  </div>

  <div id="slide-1">
    <table class="cardSlots slot-triangle">
      <tr>
        <td></td><td class='slot2'>3</td><td></td>
      </tr>
      <tr>
        <td class='slot0'>1</td><td></td><td class='slot1'>2</td>
      </tr>
    </table>
  </div>

  <div id="slide-2">
    <table class="cardSlots slot-cross">
      <tr>
        <td></td><td class='slot2'>3</td><td></td>
      </tr>
      <tr>
        <td class='slot0'>1</td><td class='slot4'>5</td><td class='slot1'>2</td>
      </tr>
      <tr>
        <td></td><td class='slot3'>4</td><td></td>
      </tr>
      </table>
    </div>
</div>
</div>
