/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";


.container{
  text-align: center;
}
.card{
  float:left;
  position:absolute;
  z-index: 9999;
  width: 65px;
  height: 118px;
  background-image: url('./assets/cards/cardback.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
